<!DOCTYPE html>
<html lang="zxx">
	<head>
        <title>PURRBRED</title>
        <meta charset="UTF-8">
        <link href="static/style.css" rel="stylesheet">
        
        <!-- Google font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="static/bootstrap.min.css"/>
        
    </head>
<body>
	<header class="header-section clearfix">
        <a href="/" class="site-logo">
            <h2 style="font-size:25px; color:#ffffff; margin-left: 40px"><span style="color:#fc0254">PURR</span>BRED</h2>
        </a>
        <ul class="main-menu" >
            <li><a href="{{url_for('info')}}" style="font-size: 18px">Home</a></li>
            <li><a href="/" style="font-size: 18px">Classify</a></li>
            <li><a href="{{url_for('about')}}" style="font-size: 18px">About</a></li>
        </ul>
    </header>


	<!-- Intro section -->
	<section class="intro-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>Cat's Personality and Behavior</h2>
					</div>
				</div>
				<div class="col-lg-6">
					<p>Even within the same breed, cats' behavior and appearance will vary which make them unique. Russian Blue can be playful, intelligent and shy while Ragdoll's personalities are described as relaxed, loving and friendly. Knowing your cat breed allow you to acknowledge your cat's personality and behavior.</p>
					<a href="/" class="site-btn">Try it now</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Intro section end -->
	<section class="how-section spad set-bg" data-setbg="img/how-to-bg.jpg" style="background: #fff">
		<div class="container text-white">
			<div class="row">
				<div class="col-lg-6">
					<p style="color: #0a183d">Purebred or pedigree cats are known to have inherited issues with their health especially cats which are born from inbreeding. Inbreeding is a term used for breeding to close related cat such as siblings. Recognizing your cat breed can help ypu take extra care and pay special attention to your feline companion.</p>
					<a href="/" class="site-btn">Try it now</a>
				</div>
				<div class="col-lg-6">
					<div class="section-title">
						<h2 align="right" style="color: #fc0254">Inherited Health Issues</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="intro-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>Five Different Cat Breeds</h2>
					</div>
				</div>
				<div class="col-lg-6">
					<p>As of now, our artificial intelligence model can classify five different breed of cats. Those breeds include Bengal, Bombay, Persian, Siamese and Sphynx. We would want to recognize as many breeds as we can in the future development of this system. So stay tune! </p>
					<a href="/" class="site-btn">Try it now</a>
				</div>
			</div>
		</div>
	</section>
	</body>
</html>
